.top-container{
    width: 1920px;
    position: absolute;
    left: -4px;
    top: -4px;
}

.container{
    display: flex;
    position: absolute;
    width: 1920px;
    height: 40px;
    top: 16px;
    left: 120px;
    
}

.container2{
    display: flex;
    position: absolute;
    width: 800px;
    height: 40px;
    top: 16px;
    left: 1175px;
    
}

.white{
    color: white;
    padding: 10px;
}

.nav{

    height: 100px;
    top: 600px;
    left: 120px;
}

.logo {
    position: absolute;
    left: 130px;
    top: 100px;
    color: green;
    width: 50px;   
}

.logo img{
    width: 50px;
}

.GREEN_LEAF_RESTRO {
    font-size: 27px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 500;   
    color: rgb(18, 168, 78);
    text-transform: uppercase;
    line-height: 1.364;
    position: absolute;
    left: 225px;
    top: 115px;
    width: 260px;
    height: 32px;
    z-index: 153;
} 

.Layer_511 {
    left: 102px;
    top: 77px;
    width: 33px;
    height: 39px;
    z-index: 150;
}



.Rectangle_954 {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(18, 168, 78);
    font-family: 'Open Sans';
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    left: 43.5%;
    top: 610px;
    width: 200px;
    height: 54px;
    z-index: 117;
}

.GET_IN_TOUCH_WITH_US {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 900;
    line-height: 1.75;
    text-align: center;
    position: absolute;
    left: 33%;
    top: 346px;
    width: 600px;
    height: 80px;
    z-index: 120;
}

.Short_info_about_us {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    line-height: 2;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 280px;
    width: 350px;
    height: 54px;
    z-index: 121;
}

.Layer_657 {
    position: absolute;
    left: 60px;
    top: 640px;
    width: 442px;
    height: 340px;
    z-index: 183;
}

.Rectangle_1 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(18, 168, 78);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 315px;
    width: 1250px;
    height: 342px;
    z-index: 159;
}

.Rectangle_1 h1 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(18, 168, 78);
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    left: 498.937px;
    top: 10px;
    width: 350px;
    height: 27px;
    z-index: 178;
}

.footer{
    font-family: 'Open Sans', sans-serif;
    left: -8px;
    position: absolute;
    background-color: black;
    color: white;
    width: 1920px;
    height: 470px;
    bottom: 0px;
    top: 2600px;

}

.footer .footer-content{
    height: 400px;
    display: flex;
}

.footer .footer-content .footer-section{
    font-family: 'Open Sans', sans-serif;
    flex: 1;
    padding: 50px;
    padding-left: 120px;
    background-image: -moz-linear-gradient( 180deg, rgb(0,0,0) 0%, rgb(24,24,24) 50%, rgb(12,12,12) 74%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(0,0,0) 0%, rgb(24,24,24) 50%, rgb(12,12,12) 74%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(0,0,0) 0%, rgb(24,24,24) 50%, rgb(12,12,12) 74%, rgb(0,0,0) 100%);
}

.footer .footer-content .footer-section h2{
    padding-bottom: 30px;
    color: rgb(18, 168, 78);
}

.footer .footer-content .info .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 15px;
}

.footer .footer-content .news .email{
    height: 45px;
    width: 300px;
    font-size: 18px;
}

.footer .footer-content .news .submit{
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: white;
    background-color: rgb(18, 168, 78);
}

.footer .footer-content i{
    color: rgb(18, 168, 78);
}

.footer .footer-content .socials .contact span a{
    display: block;
    font-size: 1.1em;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
    
}
  

.footer .footer-bottom{
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    color: black;
    height: 70px;
    width: 1920px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    padding-top: 10px;

}

.footer-head .title h1{
    padding: 30px 0;
}

.shift{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 2.143;
    text-align: right;
    position: absolute;
    left: 300.438px;
    top: 115.383px;
    width: 547px;
    height: 11px;
    z-index: 126;
    padding-left: 800px;
    padding-right: 30px;
}

.title{
    padding-left: 120px;
    padding-top: 30px;
}


.footer-head{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: -8px;
    height: 640px;
    width: 1920px;
    color: white;
    background-color:rgb(18, 168, 78);
    top: 2430px;
}

.footer-head .days{
    display: flex;
    position: absolute;
    width: 100px;
    padding-top: 30px;
    padding-left: 800px;
    top: 0px;
    height: 150px;
    padding-top: 20px;
    padding-right: 200px;
}

.footer-head .days .v1{
    border-right: 1px solid white;
    height: 120px;
    padding: 15px;
    text-align: center;
}

.footer-head .days .v1 .t{
    padding: 10px;
    text-align: center;
}

.cal{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    line-height: 1.2;
    position: absolute;
    left: 498.937px;
    top: 70px;
    width: 91px;
    height: 15px;
    z-index: 175;
    float: right ;

}

.admin{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    line-height: 1.2;
    position: absolute;
    left: 628.937px;
    top: 70px;
    width: 91px;
    height: 15px;
    z-index: 175;
    float: right ;
}


.cmnt{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    line-height: 1.2;
    position: absolute;
    left: 728.937px;
    top: 70px;
    width: 91px;
    height: 15px;
    z-index: 175;
    float: right ;
}


.texty{
    font-family: 'Open Sans', sans-serif;
    color: rgb(92, 92, 92);
    line-height: 1.875;
    text-align: left;
    position: absolute;
    left: 498.937px;
    top: 135px;
    width: 723.687px;
    height: 104.875px;
    z-index: 166;
    font-size: medium;
}

.b1{
    font-size: 16px;
    left: 498px;
    top: 280px;
    z-index: 163;
    float: none;
    width: 150px;
    position: absolute;
}

.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}